<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pub.com.mypub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".baseclasses.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".baseclasses.SplashScreen"
            android:label="${appName}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".baseclasses.BaseActivity" />
        <activity android:name=".PubMainActivity" />
        <activity android:name=".authentication.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.NetworkBaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".home.Home">

            <!--
            <intent-filter>
                <action android:ticket_name="android.intent.action.MAIN" />
                <category android:ticket_name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".admin.Admin">

        </activity>
    </application>

</manifest>